body {
    font-size: large;
}

table, tr, td, th {
    border: solid 1px;
    background-color: rgb(194, 194, 194);
}

td, th {
    padding: 10px;
}

label {
    margin-right: 10px;
}

.tabla1 {
    margin: auto;
    text-align: left;
    margin-top: 50px;
}

.submit {
    text-align: center;
}

#inputName {
    margin-right: 20px;
}

.tabla2 {
    text-align: center;
    margin:50px auto 70px auto;
}

.error{
    color:red;
    text-align:center;
    margin-top:50px;
}