@page "/"

<PageTitle>Calculadora</PageTitle>




		<table class="tabla1">
			<tr>
				<td>Dirección Ip/Máscara de red</td>
				<td><input type="text"></td>
			</tr>
			<tr>
				<td>Número de subredes</td>
				<td><input type="text"><button>Change</button></td>
			</tr>
			<tr>
				<td>Tamaño de hosts</td>
				<td><label>Nombre</label><input id="inputName" type="text"><label>Tamaño</label><input id="inputSize" type="text"></td>
			</tr>
			<tr>
				<td class="submit"colspan="2">
					<button >Enviar</button>
				</td>
			</tr>
		</table>

		<table class="tabla2">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Dirección de subred</th>
					<th>Máscara de subred</th>
					<th>Rango de direcciones IP asignables</th>
					<th>Cantidad de hosts disponibles</th>
					<th>Dirección de broadcast</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>

		</table>

